.box {
    display:flex;
    justify-content: center;
    

}



h1 {
    background-color: plum;
    display:flex;
    justify-content: center;
    color: white;
    padding: 20px;
   
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}



.box div {
    background-color: aquamarine;
    padding: 10px;
    margin: 10px;

}