body {
    background-color: rgb(241, 211, 241);
    margin: 20px;
    margin-top: 30px;
    width: 50%;
}

h3 {
    color: rgb(120, 101, 207);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.div1 {
    margin-bottom: 40px;
}

.div2 {
    margin-bottom: 40px;
}
